body {
    font-family: 'Open Sans', sans-serif; 
    background-color: var(--bg-color); }

body * {
    box-sizing: border-box; }

h1, .h1{
    font-size: 1.6rem;
}
.heading {
    text-transform: uppercase;
    color: var(--darker-color);
}

small, .small {
    font-size: .8em;
}

em, .italic {
    font-style: italic;
}