:root {
    --darker-color: #002235; --darker-rgb: 0, 22, 35;
    --dark-color: #002a45; 
    --accent-color: #8bbf04;

    --bg-color: #e2e2e2;

    --white: #ccc;

    --padding-x: 15px;

    --content-max-width: 900px;
    --navbar-height: 125.6px;
}